/*Root*/
:root{
    /*
    Using the Solarized color pallete. 
    More info at:
    https://ethanschoonover.com/solarized/
    */
    --solarized-base03: #002b36;
    --solarized-base02: #073642;
    --solarized-base01: #586e75;
    --solarized-base00: #657b83;
    --solarized-base0: #839496;
    --solarized-base1: #93a1a1;
    --solarized-base2: #eee8d5;
    --solarized-base3: #fdf6e3;
    --solarized-yellow: #b58900;
    --solarized-orange: #cb4b16;
    --solarized-red: #d30102;
    --solarized-magenta: #d33682;
    --solarized-violet: #6c71c4;
    --solarized-blue: #268bd2;
    --solarized-cyan: #2aa198;
    --solarized-green: #859900;

    --page-body-background: var(--solarized-base3);
    --page-area-background: var(--solarized-base2);
    --page-font-color: var(--solarized-base01);
}

/*By Tag*/
body {
    /*Properties*/
    background-color: var(--page-body-background);

    /*Content*/
    color: var(--solarized-base0);
    font-family: Arial, Helvetica, sans-serif;

    transition: 1.5s;
}

.preload * {
    /*
    Workaround for elements with transition popping in on page load
    source: https://css-tricks.com/transitions-only-after-page-load/
    */
    transition: none !important;
}

header {
    /*Properties*/
    background-color: var(--page-area-background);
    position: relative;
    left: 5%;
    border-radius: 25px;
    width: 90%;
    height: auto;
    margin-bottom: 1%;

    /*Content*/
    color: var(--page-font-color);
    text-align: center;

    /*Figure out fix for freaking out on page load*/
    transition: 0.5s;
}

header:hover {
    width: 92%;
    /*transform: rotate(180deg);*/
    left: 4%;

    transition: .5s;
}

footer {
    /*Properties*/
    /*background-color: var(--solarized-base02);*/
    opacity: 1;

    position: fixed;
    left: 0px;
    bottom: 0px;
    /*border-radius: 5px;*/
    
    width: 100%;
    height: auto;

    /*Content*/
    color: var(--page-font-color);
    text-align: center;

    /*Effects*/
    transition: 0.5s;
}

footer:hover {
    opacity: 1;
}

section {
    /*Properties*/
    background-color: var(--page-area-background);
    position: relative;
    left: 7%;

    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 25px;

    width: 86%;
    text-align: center;

    /*Content*/
    color: var(--page-font-color);
}

article {
    /*Properties*/
    background-color: var(--page-area-background);
    position: relative;
    width: auto;
    text-align: center;

    /*Content*/
    color: var(--page-font-color);
}

p {
    /*TODO*/
    position: relative;
}

ul.blockList {
    position: relative;
    /*display: flex;*/
    list-style-type: none;
    justify-content: right;
    overflow: hidden;
    z-index: 1;

    background-color: var(--page-area-background);
}

/* COOOOOL
ul.blockList:hover li.blockLink a {
    height: 50px;
}
*/

li.blockLink {
    float: right;
    z-index: 3;
}

li.blockLink:first-child {
    /*
    TIL: Even though the last element in the HTML is the one on
    the right, the css thinks that it's the first element.

    ACTUALLY: The first <li> get's to float right first
    */
    padding-right: 5%;
}

li.blockLink a {
    display: block;
    padding: 4px 12px;
    z-index: 4;

    background-color: var(--page-body-background);
    color: var(--page-area-background);

    text-decoration: none;

    transition: 0.5s;
}

li.blockLink a:hover {
    /*Invert the colors to make use of negative space*/
    background-color: var(--page-area-background);
    color: var(--page-body-background);
}

/*Default Links*/
a, a:link {
    color: var(--solarized-blue);
}

a:hover, a:active {
    color: var(--solarized-cyan);
}

/*By Class*/

/*By ID*/
#portrait {
    /*Properties*/
    /*margin-top: 10px;*/

    width: 128px;
    height: 128px;
    border-radius: 50%;

    /*Content*/
}

#darkMode {
    max-width: 40px;
    max-height: 40px;

    fill: var(--page-body-background);

    transition: 0.5s ease;
}

#darkMode:hover {
    fill: var(--solarized-base03);
}