:root{
    /*
    Using the Solarized color pallete. 
    More info at:
    https://ethanschoonover.com/solarized/
    */
    --solarized-base03: #002b36;
    --solarized-base02: #073642;
    --solarized-base01: #586e75;
    --solarized-base00: #657b83;
    --solarized-base0: #839496;
    --solarized-base1: #93a1a1;
    --solarized-base2: #eee8d5;
    --solarized-base3: #fdf6e3;
    --solarized-yellow: #b58900;
    --solarized-orange: #cb4b16;
    --solarized-red: #d30102;
    --solarized-magenta: #d33682;
    --solarized-violet: #6c71c4;
    --solarized-blue: #268bd2;
    --solarized-cyan: #2aa198;
    --solarized-green: #859900;

    /*--default-text-color: #eee8d5;*/
}

body {
    /*Properties*/
    background-color: var(--solarized-base03);

    /*Content*/
    color: var(--solarized-base0);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    /*Properties*/
    background-color: var(--solarized-base02);
    position: relative;
    border-radius: 25px;
    width: auto;

    /*Content*/
    color: var(--solarized-base1);
    text-align: center;
}

footer {
    /*Properties*/
    background-color: var(--solarized-base02);
    position: fixed;
    left: 0px;
    bottom: 0px;
    border-radius: 5px;
    width: 100%;
    height: auto;

    /*Content*/
    color: var(--solarized-base1);
    text-align: center;
}

section {
    /*Properties*/
    background-color: var(--solarized-base02);
    position: relative;
    border-radius: 25px;
    width: auto;
    text-align: center;

    /*Content*/
    color: var(--solarized-base1);
}

article {
    /*Properties*/
    background-color: var(--solarized-base02);
    position: relative;
    width: auto;
    text-align: center;

    /*Content*/
    color: var(--solarized-base1);
}

/*Links*/
a, a:link {
    color: var(--solarized-cyan);
}

a:hover, a:active {
    color: var(--solarized-blue);
}