body {
    /*Properties*/
    z-index: 0;
    /* display: flex; */
    position: fixed;
    
    background-color: #101217;
    /* background adapted from SVGBackgrounds.com */
    background-image: url("Media/Images/bg_stars.svg");
    /* background-size: 360px 360px; */
    background-attachment: fixed;

    /*Content*/
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    
    /* scrollbar-width: 0px; */
}

#bg_foreground {
    /* */
    position: fixed;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /*  */
    width: 100vw;
    height: 100vh;
    /*  */
    background-image: url("Media/Images/bg.svg");
    background-attachment: fixed;
    background-size: cover;
}

header {
    font-size: 28px;
}

footer {
    /*  */
}

article {
    z-index: 2;

    display: flex;
    flex-direction: column;

    /* height: 86vh; */
    width: 80vw;
    /* top: 5vh; */
    max-width: 800px;
    border: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    padding: 15px;

    backdrop-filter: blur(4px);
}

section section {
    text-align: justify;
}

@media (orientation: landscape) {
    #bg_foreground {
        /* align-items: center; */
    }
    article {
        height: 92vh;
        font-size: 20px;

    }  
    nav {
        height: 92vh;
    }
}
  
  @media (orientation: portrait) {
    article {
        height: 96vh;
        font-size: 24px;
    }  
    nav {
        height: 96vh;
    }
}

section {
    z-index: 3;
}

.content {
    /* width: 0px; */
    /* visibility: hidden; */
    
    /* position: absolute; */
    height: 100%;

    /* padding-left: 15px;
    padding-right: 15px; */

    opacity: 0.0;

    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    transition: opacity 0.5s;
}

.content::-webkit-scrollbar {
    display: none;
}

.content section {
    /* position: relative; */
    width: 100%;
    /* height: inherit; */

    /* margin-top: 15px; */


    opacity: inherit;
    transition: 1s;
}


img {
    width: 50%;
}

#portrait {
    width: 100px;
    height: 100px;
    
    border-radius: 50px;

    margin-bottom: 15px;
}


nav {
    z-index: 2;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    
    /* height: 86vh; */
    width: 5vw;
    /* top: 5vh; */
    max-width: 120px;
    min-width: 80px;
    /* border-radius: 25px; */

    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* margin: 0px; */

    /* background-color: gray; */
}

nav>* {
    display: flex;
    
    width: 5vw;
    min-width: 80px;
    max-width: 120px;

    backdrop-filter: blur(4px);
    
    border: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 5px;
    /* margin: 5px; */
}

nav #tag {
    flex-direction: column;
    
    flex-grow: 1;

    background-color: white;
    color: #101217;

    padding-top: 5px;
    /* margin-bottom: 5px; */
}

#name {
    transform: rotate(90deg);

    font-size: 30px;
}

nav .button {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-grow: 0;

    height: 5vw;
    min-height: 80px;
    max-height: 120px;

    margin-top: 5px;

    transition: 0.5s;
}

nav .button:hover {
    backdrop-filter: blur(0px);
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 24vw;
    max-width: 240px;
    height: 24vw;
    max-height: 240px;
    border-radius: 5px;
    /* box-sizing: border-box; */

    margin: 5px;

    background-color: white;
    color: #101217;

    text-decoration: none;

    transition: height 0s, width 0s;
}

a:hover {
    
}

h1 {
    /*  */
}

h2 {
    margin-top: 0px;
    margin-bottom: 15px;
}

h3 {
    /*  */
    
}