body {
    /* display: flex; */
    /* z-index: 0; */
    background-color: #172839;
    color: #A8AEB5;
    padding: 0px;
    border-radius: 0px;
    margin: 0px;
    /* align-items: stretch; */

    top: 0px;
    left: 0px;
    
    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    position: absolute;
    
    /* top: 0px;
    left: 0px; */

    height: 100%;
    width: 100%;
}

.content > * {
    /* margin: 1px; */
    padding: 1px;
}

.transition {
    transition: .2s;
}

.transition > * {
    transition: .2s;
}



.drop_button {
    /* z-index: 1; */
    display: flex;
    /* background-color: #344352; */
    background-color: #344352;
    /* position: relative; */
    /* float: left; */
    /* flex: 1; */
    /* display: flex; */
    align-self: center;
    align-content: center;
    justify-content: center;

    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    
    /* top: 0px;
    left: 0px; */

    height: 96%;
    width: 2%;
    max-width: 40px;
}

.drop_button:hover {
    height: 98%;
    width: 8%;
    max-width: 120px;

    /* transition: .2s; */
}

.arrow {
    /* background-color: red; */
    width: 10px;
    height: 10px;
    border: solid #172839;
    border-width: 0 5px 5px 0;
    display: inline-block;
    /* padding: 3px; */
    align-self: center;
    justify-self: center;
    

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.drop_button:hover .arrow {
    display: none;
}

.drop_button_hover {
    width: 8%;
    max-width: 120px;
}

.drop_test {
    /* z-index: 2; */
    background-color: blue;

    align-self: center;
    justify-self: center;
    
    height: 90%;
    width: 90%;
    
    /* position: relative; */
    /* top: 5%;
    left: 5%; */

    /* transition: 1s; */

    /* visibility: hidden; */
    display: none;
}

.drop_button:hover .drop_test {
    /* visibility: visible; */
    display: block;

    transition: .2s;
}

.main_navbar {
    background-color: antiquewhite;
}

.stuff {
    /* z-index: 10000; */
    /* position: relative; */
    /* flex: 2; */
    /* right: 0%; */

    padding: 10px;
    
    height: 100%;
}